@import './myblogstyleSec.css';
@import './myblogstyleTrd.css';
@import './myblogstyleFrd.css';
body {
    font-family: Arial;
    padding: 20px;
    background: #cedbc5;
    display: grid;
    grid-template-columns:auto ;
    grid-template-rows: auto;
    grid-template-areas: 
    "hd hd hd"
    "sd main main"
    "ft ft ft";
  }
  
  .header {
    padding: 35px;
    font-size: 40px;
    text-align: center;
    background: rgb(4, 68, 4);
    text-decoration-line: overline;
    color: #cedbc5;
    width: 100%;
    padding-right: 10px;
    grid-area: hd;
  }
  .link {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: rgb(24, 109, 81);
    padding: 20px;
    color: white;
    align-items: center;
    justify-content: space-between;
  }
  .leftcolumn {
    float: left;
    width: 100%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }