  .footer {
    position: fixed;
    justify-items: end;
    padding: 8px;
    text-align: left;
    background: rgb(183, 196, 188);
    opacity:0.8;
    width: 100%;
    height: 15px;
    grid-area: ft;
    font-size: 15px;
    left: 0;
    bottom: 0;
    padding-left: 65px;
  }

  .linkTo {
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 25px;
    align-items: flex-end;
  }

  blockquote{
    margin: 0px;
  
  }

  .note{
    font-size: 25px;
    display: flex;
  }

  b { 
    color: rgb(22, 18, 18);
    text-shadow:  0 0 3px #ffffff, 0 0 5px #131e80;
  }

  em {
    color: rgb(19, 19, 143);
  }

  u {
    color: rgb(12, 68, 22);
  }

  figure {
    margin: 0px;
    width: 400px;
  }
 