body {
    font-family: Arial;
    padding: 20px;
    background: #cedbc5;
  
  }
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: rgb(4, 68, 4);
    text-decoration-line: overline;
    color: #cedbc5;
  }
  
  
  
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  .fakeimg {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 5px;
    grid-template-areas: 
    "sd sd main main main" ;
    border: 2px solid white ;
    width: 100%;
    height:400px ;
    background-color: rgb(183, 196, 188);
    width: 1100px;
    padding:20px;
    height:200px;
  }
  .text {
    grid-area: main ;
    padding: 10px;
  }

  .image {
    background-image:url(../Image/niagara.jpeg) ;
    background-size:cover ;
    width: 400px;
    height: 200px;
    opacity: 0.75;
  }
  

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 20px;
    text-align: left;
    background: rgb(183, 196, 188);
    margin-top: 20px;
    float:none;
    opacity:0.8;
  }

  .linkTo {
    color: rgb(20, 122, 238);
    font-size: 17px;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }