@import './webpagestyleSec.css';
@import './webpagestyleTrd.css';
@import './webpagestyleFrd.css';

body {
    background-color: rgba(187, 186, 186, 0.849);
    font-size: 25px;
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
button:hover, a:hover {
    opacity: 0.7;
}

