.box{

    padding: 10px;
    border: 1px solid rgb(8, 8, 8);
    background-color: white;
    color: white ;
    
}
.one{
    display: flex;
    flex-direction: row;
    grid-area: hd;
    background-color: rgb(120, 201, 238);
    flex-wrap: wrap;
    
}
.two{
    grid-area: sd;
    background-color: rgb(130, 132, 134);
    padding: 1px;
    font-size: 15px;
    
 }
.myBlog {
    text-align:center;
 }
.card {
    width: 140px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;     
}
      
.title {
    color: rgb(36, 52, 141);
    font-size: 12px; 
}
      
.three{
    grid-area: main;
    color: black;
    text-align:justify;
    padding: 45px;
    font-size: 20px;
    
}
.four{
    height: 68px;
    grid-area: ft;
    background-color: rgb(120, 201, 238);
}
.myImage {
    width:100%;
}
.linkedin {
    width: 60px;
}
@media (min-width: 300px){
    .content {
       display: grid;
       grid-template-areas: 
       "hd hd hd"
       "sd main main"
       "ft ft ft" ;
    }
}
  
@media (min-width: 600px) and (max-width:900px) {
    .content {
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 200px 400px 50px;
        grid-template-areas:
        "hd hd hd hd hd"
        "sd sd main main main "
        "ft ft ft ft ft " ;
    }
}
  
  
  @media (max-width:901px) {
    .content {
        display: grid;
        grid-template-areas: 
        "hd hd hd hd hd hd hd"
        "sd sd sd main main main main"
        "ft ft ft ft ft ft ft ft" ;
    }
  }