.box{

    padding: 10px;
    border: 1px solid rgb(8, 8, 8);
    background-color: white;
    color: white ;
    
}
.one{
    display: flex;
    flex-direction: row;
    grid-area: hd;
    background-color: rgb(120, 201, 238);
    flex-wrap: wrap;
    
}
.two{
    grid-area: sd;
    background-color: rgb(130, 132, 134);
    padding: 1px;
    font-size: 15px;
    
 }
.myBlog {
    text-align:center;
 }
.card {
    width: 140px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;     
}
      
.title {
    color: rgb(36, 52, 141);
    font-size: 12px; 
}
      
.three{
    grid-area: main;
    color: black;
    text-align:justify;
    padding: 45px;
    font-size: 20px;
    
}
.four{
    height: 68px;
    grid-area: ft;
    background-color: rgb(120, 201, 238);
}
.myImage {
    width:100%;
}
.linkedin {
    width: 60px;
}
